body{
    margin: 0; 
 }

 *{
     box-sizing: border-box;
 }
 
 h1{
     font-family: 'Georgia', Times, Times New Roman, serif;
 }
 
 .background{
     z-index: -1;
     position: absolute;
     margin: 0;
     overflow: none;
     width: 100%;
     height: 100%;
 }
 
 h1.myname{
     background-color: #4aaaa5;
     color: white;
     text-align: center;
     width: 25%;
     padding-top: 20px;
     padding-bottom: 20px;
     margin: 0;
     
 }
 
 h1.aboutme{
     color: #4aaaa5;
 
 }
 .portfolio-img{
     width: 300px;
     float: left;
     margin-right: 20px;
     margin-left: 20px;
 }
 
 .clearfix::after{
     content: "";
     clear: both;
 }
 
 .clearfix{
     overflow: auto;
 }
 .footer{
     width: 100%;
     height: 5%;
     z-index: 1;
     background-color: #666666;
     padding-top: 25;
     padding-bottom: 25;
     margin-bottom: 0;
     text-align: center;
     position: fixed;
     bottom: 0;
     left: 0;
     border-top: #4aaaa5 solid 8px;
 }
 
 .content{
     width: 100%;
     height: 100%;
     background-color: white;
     margin-top: 20px;
     /*margin-left: 10px;*/
     position: relative;
     /*padding: 20px 15px;*/
 }
 
 .nav{
     /*position: relative;
     width: 100%;*/
     position: absolute;
     top: 4px;
     display: flex;  
     right: 65px;
     margin-left: 25%;
    
       
 }

 .nav-item{
     display: inline-block;
     margin-left: 8%;
 }

 .nav-item a{
     text-decoration: none;
     
 }

 .container{
     margin: 0;
 }


 
 .title-hr{
     margin: .5rem;
 }
 
 #submit{
     background-color: #4aaaa5;
     color: white;
     border: none;
     padding: 5px;
     margin-left: 2.4%;
 }
 
 #submit:hover{
     background-color:#3a6eaa;
 }
 
 .col img{
     width: 200px;
     position: relative;
     margin-bottom: 1rem;
     margin-left: 25%;
 }
 
 .discription{
     position:absolute;
     width: 200px;
     bottom: 0;
     left: auto;
     margin-left: 109px;
     margin-bottom: .5rem;
     color: white;
     background-color: #4aaaa5;
     padding: 0px;
     text-align: center;
 }

.card-body{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    
}

.card-body h5{
    font-size: 2rem;
}

form{
    margin: 0 30px;
}

.form-control{
    width: 100%;
    height: 25px;
}

#exampleFormControlTextarea1{
    height: 50px;
}

.card-img-top{
    width: 50%;
    padding: 50px;
}

/*responsive*/


@media only screen and (max-width:980px){
    .content{
        width:50%;        
    }

    #submit{
        margin-left: 7.3%;
    }

   
}

@media only screen and (max-width:768px){
    form{
        margin: 0 20px;
    }

    .content{
        width: 100%;
    }

    .card-img-top{
        width: 50%;
    }

}

@media only screen and (max-width:640px){
    h1.myname{
        width: 100%;
    }

    .nav{
        position: relative;
        margin-left: 25%;
    }

    form{
        margin: 0 20px;
    }
}






